body{
    transition:0.5s;
    padding: 25px;
    background-color: #fffffe;
    color: #232946;
}

.profile-pic{
    width: 10em;
    border-radius: 50%;
}

.project-1Img{
    height:50;
    border-radius: 0%;
}

.dark-mode{
    transition: 0.5s;
    background-color: #232946;
    color: #fffffe;
}

.btn-dark{
    background-color: white;
}

.list-groupDark{
    transition: 0.5s;
    color: #232946;
}

.card-dark{
    color: #232946;
}